# Application
OPENAI_API_KEY=
GEMINI_API=
LIVEBLOCKS_SECRET_KEY=
HIGGSFIELD_API_KEY_ID=
HIGGSFIELD_API_KEY_SECRET=
AGENT_PROVIDER=openai
AGENT_MODEL=gpt-5.4
AI_DEBUG_PRINTS=true

# Optional: override only if you do not want the default Docker DB URL.
# DATABASE_URL=postgresql+asyncpg://hacknu:hacknu@db:5432/hacknu

# Deploy
DO_HOST=your.server.ip.or.domain
DO_USER=root
SSH_KEY=~/.ssh/id_rsa
SSH_PUBLIC_KEY=infra/keys/kadirbekov_eldos_mac_ed25519.pub
REMOTE_DIR=/root/hacknu-back
APP_PORT=9000
